@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --secondary: rgba(0, 0, 0, 0.54);
  --titleSize: 24px;
  --textSize: 16px;
}

@media (prefers-color-scheme: white) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --secondary: rgba(var(--foreground), 0.54);
    --titleSize: 24px;
    --textSize: 16px;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  margin: 0;
  padding: 24px 56px;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.primaryButton {
  background: rgb(7,150,211);
  background: -moz-linear-gradient(90deg, rgba(7,150,211,1) 0%, rgba(83,192,240,1) 100%);
  background: -webkit-linear-gradient(90deg, rgba(7,150,211,1) 0%, rgba(83,192,240,1) 100%);
  background: linear-gradient(90deg, rgba(7,150,211,1) 0%, rgba(83,192,240,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0796d3",endColorstr="#53c0f0",GradientType=1);
  color: var(--background);
}

.secondaryButton{
  background: #E7EEFB;
  color: var(--foreground);
}

.errorButton{
  background: rgb(211,7,7);
  background: -moz-linear-gradient(90deg, rgba(211,7,7,1) 0%, rgba(240,83,83,1) 100%);
  background: -webkit-linear-gradient(90deg, rgba(211,7,7,1) 0%, rgba(240,83,83,1) 100%);
  background: linear-gradient(90deg, rgba(211,7,7,1) 0%, rgba(240,83,83,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#d30707",endColorstr="#f05353",GradientType=1); 
}

.separatingBorder{
  border-bottom: 1px solid #D7DDE9;
  border-style: inset;
}

.dashedBorder{
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='8' ry='8' stroke='%23EAECF0FF' stroke-width='2' stroke-dasharray='4' stroke-dashoffset='62' stroke-linecap='butt'/%3e%3c/svg%3e");
border-radius: 8px;
}